@using Forum.Application.Helpers
@model PagedList<Forum.Application.Topics.ResponseModels.AdminImagedTopicModel>

@{
	ViewData["Title"] = "GetTopicById";
}

<head>
	<link rel="stylesheet" href="~/css/custom-styles.css" />
</head>

<div class="container mt-4 mb-4 d-flex justify-content-center">
	<div class="topic-container">
		<img src="@Model.Item.UserImageUrl" alt="User Image" class="user-image">
		<div class="topic-details">
			<div class="topic-username">@Model.Item.UserName</div>
			<div class="topic-titles">@Model.Item.Title</div>
			@if (!string.IsNullOrEmpty(Model.Item.ImageUrl))
			{
				<img src="@Model.Item.ImageUrl" alt="Topic Image" class="topic-image">
			}
			<div class="topic-created">Created at: @Model.Item.CreatedAt</div>
			<div class="comment-list">
				@foreach (var comment in Model.Item.Comments)
				{
					<div class="comment-container @(comment.IsDeleted ? "deleted-comment" : "")">
						<img src="@comment.UserImageUrl" alt="User Image" class="comment-user-image">
						<div class="comment-details">
							<a href="@Url.Action("GetUserByName", "User", new { userName = comment.UserName })" class="comment-username" style=" color: black; font-weight: bold;">@comment.UserName</a>
							<div class="comment-title">@comment.Title</div>
							<div class="comment-created">Created at: @comment.CreatedAt</div>
							@if (!comment.IsDeleted)
							{
								<a href="@Url.Action("Delete", "Comment", new { commentId = comment.Id, topicId = Model.Item.Id })" style=" color: black; font-weight: bold;">Delete</a>
							}
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

<div class="container mt-4 mb-4 d-flex justify-content-center">
	<div class="pagination">
		<div class="pagination-info">
			<span>Page @Model.CurrentPage of @Model.TotalPages</span>
		</div>

		<div class="pagination-links">
			@if (Model.HasPreviousPage)
			{
				<a href="@Url.Action("GetTopicById", new { pageNumber = 1, pageSize = Model.PageSize })" class="page-link">First</a>
				<a href="@Url.Action("GetTopicById", new { pageNumber = Model.CurrentPage - 1, pageSize = Model.PageSize })" class="page-link">Previous</a>
			}
			else
			{
				<span class="disabled">First</span>
				<span class="disabled">Previous</span>
			}

			@for (int i = 1; i <= Model.TotalPages; i++)
			{
				if (i == Model.CurrentPage)
				{
					<span class="current-page">@i</span>
				}
				else
				{
					<a href="@Url.Action("GetTopicById", new { pageNumber = i, pageSize = Model.PageSize })" class="page-link">@i</a>
				}
			}

			@if (Model.HasNextPage)
			{
				<a href="@Url.Action("GetTopicById", new { pageNumber = Model.CurrentPage + 1, pageSize = Model.PageSize })" class="page-link">Next</a>
				<a href="@Url.Action("GetTopicById", new { pageNumber = Model.TotalPages, pageSize = Model.PageSize })" class="page-link">Last</a>
			}
			else
			{
				<span class="disabled">Next</span>
				<span class="disabled">Last</span>
			}
		</div>
	</div>
</div>
